input{
    width:130px;
    height:45px;
    background-color:blue;
    color:white;
    font-size:35px;
    
} .operations{
    width:130px;
    height:45px;
    background-color:orange;
    //color:white;
    font-size:35px;
    
} 

          
